# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/

# Large model files
*.bin
*.pt
*.pth
bertopic_model

# System files
.DS_Store
Thumbs.db
